<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squad.pug" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_8dJbAB6sS_taHGQIVSEohJMwehksVEU" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".Launcher"
            android:label="@string/title_activity_launcher"
            android:theme="@style/AppTheme.NoActionBar" >

            <!-- ******** IF you're changing launcher intents leave these comments here and us cntrl + '/' so we can easily switch back & forth **************** -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games" >
        </activity>
        <activity
            android:name=".CreateGameActivity"
            android:label="@string/title_activity_create_game" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >

            <!-- ******** IF you're changing launcher intents leave these comments here and us cntrl + '/' so we can easily switch back & forth **************** -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" >
        </activity>
        <activity
            android:name=".CourtActivity"
            android:label="@string/title_activity_court"
            android:parentActivityName=".MapsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.squad.pug.MapsActivity" />
        </activity>
    </application>

</manifest>
